<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <a class="col-auto navbar-brand me-lg-auto" href="/">Edelivery</a>
       
        <form class="col-12 col-lg-6 mb-3 justify-content-center mb-lg-0 me-lg-auto d-flex">
          <input type="search" class="col form-control form-control-dark me-2" placeholder="Search..." aria-label="Search">
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
       
        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning me-2">Sign-up</button>
        </div>
        <div class="dropdown text-end me-4">
            <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
            
          </div>
          
          <a class="cart" routerLink="/checkout"><i class="bi bi-cart"></i><span class="badge bg-primary">10</span></a>
      </div>
    </div>
  </header>
