.box{
    width: 230px;
    font-size: .875rem;
}

.box > .img-holder {
    height: 200px;
    border-radius: 10px;
}
.box > .img-holder > img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;

    

}
.product-meta {
    transition: color 0.25s ease-in-out;
    color: #7d879c;
    text-decoration: none !important;
}

a{
    text-decoration: none;
    color: #000;
}

.add-to-cart{
    width:100px;
}