
<div class=" d-flex justify-content-center">
    <div class="box pb-5" >
       <a routerLink="/items/2"  class="d-flex justify-content-center img-holder ">
            <img src="{{item.url}}"  class="bg-light">
    
       </a>
           
               <div class="pb-2 pt-2" >
                  <a routerLink="/items/2" >
                    {{item.name}}
                   </a>
               </div>
              <div class="pb-2">
                <strong class="text-muted">${{ item.price }}</strong>
              </div>
         
            
            
              <button type="button" class="add-to-cart btn btn-sm btn-outline-secondary">Add to cart</button>
        
   
      </div>
</div>
